<%- include ('components/_main.ejs') -%>
    <title>CONTACTANOS</title>
</head>
<body>
    <div id="contenedorContactanos">
        <div id="barraNavegacionRegiyIncio">
            <a href="#">MASSHIATO</a>
            <div id="grupoNavegacion">
                <ul id="barraNavegacionFija">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Aprende</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>