<%- include ('components/_main.ejs') -%>
    <title>CONTACTANOS</title>
</head>
<body>
    <div id="contenedorContactanos">
        <div id="barraNavegacionRegiyIncio">
            <a href="#">MASSHIATO</a>
            <div id="grupoNavegacion">
                <ul id="barraNavegacionFija">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Aprende</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                </ul>
            </div>
        </div>
        <div id="contactanoContenedor">
            <form>
                <h2>Contactanos</h2>
                <div class="ContactContenedor">
                    <input placeholder="Nombres y apellidos" type="text" name="nombre">
                    <label>Nombre Completo</label>
                </div>
                <div class="ContactContenedor">
                    <input type="tel" name="tel">
                    <label>Telefono</label>
                </div>
                <div class="ContactContenedor">
                    <input type="email" name="E-mail">
                    <label>E-mail</label>
                </div>
                <div class="ContactContenedor">
                    <input type="text" name="Asunto">
                    <label>Asunto</label>
                </div>
                <div class="ContactContenedor">
                    <textarea name="mensaje" rows="5"></textarea>
                    <label>Mensaje</label>
                </div>
                <div id="contenedorBotonContact">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
</body>
</html>