<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="aprende">
        <div class="contenedorCuadrosAprende">
            <div class="cuadrosAprende" id="cuadroV60">
                <h2>¿Cómo usar el V60?</h2>
                <button class="mi-boton">Aprende más</button>
            </div>
            <div class="cuadrosAprende" id="cuadroCafeteraItaliana">
                <h2>¿Cómo usar la Cafeteraitaliana (Moka)?</h2>
                <button class="mi-boton">Aprende más</button>
            </div>
        </div>
        <div class="contenedorCuadrosAprende">
            <div class="cuadrosAprende" id="cuadroPrensaFrancesa">
                <h2>¿Cómo usar la Prensa Francesa?</h2>
                <button class="mi-boton">Aprende más</button>
            </div>
            <div class="cuadrosAprende" id="cuadroAeropress">
                <h2>¿Cómo usar el Aeropress?</h2>
                <button class="mi-boton">Aprende más</button>
            </div>
        </div>
    </div>
</body>
</html>