<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="sobreNosotros">
        <div id="contenidoSobreNosotros">
            <h1>Masshiato</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quis eius accusantium, impedit similique cupiditate.</p>
            <a href="#"><button>Saber más</button></a>
        </div>
    </div>
    <div id="aprende">
        <div class="contenedorCuadrosAprende">
            <div id="cuadroV60">
                <h2>¿Cómo usar el V60?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
            <div id="cuadroCafeteraItaliana">
                <h2>¿Cómo usar la Cafeteraitaliana (Moka)?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
        <div class="contenedorCuadrosAprende">
            <div id="cuadroPrensaFrancesa">
                <div class="contenidoAprenderCard">
                    <h2>¿Cómo usar la Prensa Francesa?</h2>
                    <div class="contenedorBotonAprende">
                        <button class="mi-boton">Aprende más</button>
                    </div>
                </div>
            </div>
            <div id="cuadroAeropress">
                <h2>¿Cómo usar el Aeropress?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>