<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="contenedorPresentacion">
        <div id="sliderContenedorPresentacion">
            <div class="contenidoSliderPre slide1">
                <div class="informacionSlidePre">
                    <figure>
                        <img src="../public/img/ARTICULOS/logo.jpg" alt="">
                    </figure>
                    <h2>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces.</h2>
                </div>
            </div>
            <div class="contenidoSliderPre" id="slide2">
                <div class="informacionSlidePre">
                    <div id="contenedorDesPre">
                        <h2>Misión</h2>
                        <p>En Café Masshiato, nuestra misión es proporcionar a nuestros clientes una experiencia excepcional centrada en el café y los placeres dulces de la vida. Seleccionamos los mejores granos de café y ofrecemos bebidas, comidas, postres, pastelería y panadería de alta calidad. </p>
                    </div>
                    <div id="contenedorBotonPresentacion">
                        <a href="#">Saber Más</a>
                    </div>
                </div>
            </div>
            <div class="contenidoSliderPre" id="slide3">
                <div class="informacionSlidePre">
                    <figure>
                        <img src="../public/img/ARTICULOS/logo.jpg" alt="">
                    </figure>
                    <p>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces.</p>
                </div>
            </div>
            <div class="contenidoSliderPre slide1">
                <div class="informacionSlidePre">
                    <figure>
                        <img src="../public/img/ARTICULOS/logo.jpg" alt="">
                    </figure>
                    <h2>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces.</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="aprendeIndex">
        <div id="contenidoAprendeIndex">
            <div id="metodos" class="cuadroAprendeIndex">
                <h3>METODOS</h3>
                <a href="/metodos">Ver más</a>
            </div>
            <div id="tiposDeCafe" class="cuadroAprendeIndex">
                <h3>TIPOS DE CAFE</h3>
                <a href="/tipoCafe">Ver más</a>
            </div>
            <div id="origen" class="cuadroAprendeIndex">
                <h3>ORIGEN</h3>
                <a href="/origen">Ver más</a>
            </div>
        </div>
    </div>
    <div id="testimonios">
        <div id="contenedorTestimonio">
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 2.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Valentina Perez Soto</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Masshiato se ha convertido en mi refugio diario para disfrutar de un café excepcional. La atención al cliente es siempre amable y cálida, y sus bebidas son simplemente deliciosas. Mi favorita es la Mocha Masshiato, ¡nunca decepciona! Sin duda, es mi lugar de reunión con amigos y familiares.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 1.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Michael Pastrana Garzon</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Como amante del café, he probado muchas cafeterías, pero Masshiato se destaca por encima de todas. La calidad de los granos de café que utilizan es incomparable, y su latte art es una obra maestra en cada taza. Además, el ambiente acogedor y relajante hace que siempre vuelva por más.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 3.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Adriana Ceballos legarda</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Masshiato es mi lugar de trabajo remoto favorito. El wifi confiable, el ambiente tranquilo y la excelente selección de bocadillos y bebidas hacen que mi día de trabajo sea mucho más productivo y placentero. Los baristas son muy atentos y siempre me hacen sentir como en casa. Definitivamente, recomiendo Masshiato a cualquiera que busque un lugar para trabajar o simplemente relajarse.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../public/static/js/style.js"></script>
</body>
</html>