<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="sobreNosotros">
        <div id="contenidoSobreNosotros">
            <h1>Masshiato</h1>
            <p>Somos un equipo apasionado por el café, los dulces placeres y productos de y para el café.</p>
            <a href="#"><button>Saber más</button></a>
        </div>
        <div id="icono3D">
            <figure><img src="../public/img/ARTICULOS/cafe.png" alt=""></figure>
        </div>
    </div>
    <div id="aprende">
        <div class="contenedorCuadrosAprende">
            <div id="cuadroV60">
                <h2>¿Cómo usar el V60?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
            <div id="cuadroCafeteraItaliana">
                <h2>¿Cómo usar la Cafetera Italiana (Moka)?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
        <div class="contenedorCuadrosAprende">
            <div id="cuadroPrensaFrancesa">
                <div class="contenidoAprenderCard">
                    <h2>¿Cómo usar la Prensa Francesa?</h2>
                    <div class="contenedorBotonAprende">
                        <button class="mi-boton">Aprende más</button>
                    </div>
                </div>
            </div>
            <div id="cuadroAeropress">
                <h2>¿Cómo usar el Aeropress?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>