<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>
    <div id="presentacionContenedor">
        <div id="contenedorContenidoPresentacion">
            <figure>
                <img src="../public/IMG/ARTICULOS/logo.jpg" alt="">
            </figure>
            <h2>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces.</h2>
        </div>
    </div>
    <div id="contenedorProductosVendidos">
        <h2>Productos más vendidos</h2>
        <div id="contenedorTarjetaPV">
            <div class="tarjetaPV">
                <figure><img src="../public/img/croissants.jpg.jfif" alt=""></figure>
                <h2>Croissants</h2>
                <p>Delicados bollos de hojaldre, dorados y crujientes por fuera, tiernos y con mantequilla por dentro, ideales para desayunar.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$4.000</span>
                    <span class="precioOferta">$3.500</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
            <div class="tarjetaPV">
                <figure><img src="../public/img/espresso coffee.jpg" alt=""></figure>
                <h2>Espresso</h2>
                <p> Pequeña y potente infusión de café, intensamente aromática y concentrada, preparada al instante con agua caliente bajo presión.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$3.500</span>
                    <span class="precioOferta">$3.000</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
            <div class="tarjetaPV">
                <figure><img src="../public/img/salmon.jpg.jfif" alt=""></figure>
                <h2>Salmon</h2>
                <p>Filete de salmón fresco, asado a la perfección, servido con guarniciones variadas, un plato delicioso y saludable en restaurantes.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$40.000</span>
                    <span class="precioOferta">$35.000</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
            <div class="tarjetaPV">
                <figure><img src="../public/img/cocacola.jpg.jfif" alt=""></figure>
                <h2>CocaCola(500 ml)</h2>
                <p>Refresco icónico, burbujeante y refrescante, con sabor a cola y un toque de nostalgia, servido frío en todo el mundo.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$5.500</span>
                    <span class="precioOferta">$5.000</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
            <div class="tarjetaPV">
                <figure><img src="../public/img/pie-limon.jpeg" alt=""></figure>
                <h2>Pie de limon</h2>
                <p>Postre clásico con una corteza dorada y relleno de limón, es un equilibrio perfecto entre dulce y ácido, irresistible en cafeterías.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$8.500</span>
                    <span class="precioOferta">$8.000</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
            <div class="tarjetaPV">
                <figure><img src="../public/img/granizadodenaranja.jpg.jfif" alt=""></figure>
                <h2>Granizado de naranja</h2>
                <p>Bebida helada y cítrica, refrescante y ligeramente dulce, perfecta para calurosos días de verano, disponible en heladerías.</p>
                <div class="contenedorEstrellasPV">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                </div>
                <div class="contenedorPreciosPV">
                    <span class="precioComun">$9.500</span>
                    <span class="precioOferta">$9.000</span>
                </div>
                <div class="ContenedorBotonCompraPV">
                    <a href="#">Añadir a carrito</a>
                </div>
            </div>
        </div>
    </div>
    <div id="aprendeIndex">
        <div id="contenidoAprendeIndex">
            <div id="metodos" class="cuadroAprendeIndex">
                <h3>METODOS</h3>
                <a href="/metodos">Ver más</a>
            </div>
            <div id="tiposDeCafe" class="cuadroAprendeIndex">
                <h3>TIPOS DE CAFE</h3>
                <a href="/tiposCafe">Ver más</a>
            </div>
            <div id="origen" class="cuadroAprendeIndex">
                <h3>ORIGEN</h3>
                <a href="/origen">Ver más</a>
            </div>
        </div>
        <h2>Testimonios</h2>
    </div>
    <div id="testimonios">
        <div id="contenedorTestimonio">
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 2.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Valentina Perez Soto</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>El café Masshiato es un viaje de sabores que no puedo resistir. Su mezcla de espresso y leche es una experiencia única que me enamora cada día.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 1.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Michael Pastrana Garzon</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Masshiato es mi dosis diaria de energía y sabor. Su espresso potente con leche crea una explosión de vitalidad que me mantiene en movimiento.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 3.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Adriana Ceballos legarda</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>El café Masshiato es mi pequeño lujo diario. Su suavidad y sabor hacen que cada sorbo sea un auténtico placer, un respiro en medio del caos.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('components/_footer.ejs') -%>
</body>
</html>