<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>
    <div id="aprendeIndex">
        <div id="contenidoAprendeIndex">
            <div id="metodos" class="cuadroAprendeIndex">
                <h3>METODOS</h3>
                <a href="/metodos">Ver más</a>
            </div>
            <div id="tiposDeCafe" class="cuadroAprendeIndex">
                <h3>TIPOS DE CAFE</h3>
                <a href="#">Ver más</a>
            </div>
            <div id="origen" class="cuadroAprendeIndex">
                <h3>ORIGEN</h3>
                <a href="/origen">Ver más</a>
            </div>
        </div>
    </div>
    <div id="testimonios">
        <div id="contenedorTestimonio">
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 2.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Valentina Perez Soto</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis itaque accusamus sit eius ratione officiis, porro iste suscipit! Assumenda temporibus error, consequatur ullam ad eos.</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 1.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Michael Pastrana Garzon</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero perspiciatis cum nesciunt doloremque inventore delectus. Eveniet quidem exercitationem aut repellendus voluptatem totam officiis illum?</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                    </div>
                </div>
            </div>
            <div class="tarjetaTestimonio">
                <figure><img src="../public/img/PERSONAS/PERSONA 3.jpg" alt=""></figure>
                <div class="contenidoTestimonio">
                    <h2>Adriana Ceballos legarda</h2>
                    <h3>Cliente satisfecho</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero perspiciatis cum nesciunt doloremque inventore delectus. Eveniet quidem exercitationem aut repellendus voluptatem totam officiis illum?</p>
                    <div class="contenedorEstrellas">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ioniconEstrella" viewBox="0 0 512 512"><path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 48v316L118 464l54-160-140-96h172l52-160z"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('components/_footer.ejs') -%>
</body>
</html>