<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="aprendeIndex">
        <div id="contenidoAprendeIndex">
            <div id="metodos" class="cuadroAprendeIndex">
                <h3>METODOS</h3>
                <button href="#">Ver más</button>
            </div>
            <div id="tiposDeCafe" class="cuadroAprendeIndex">
                <h3>TIPOS DE CAFE</h3>
                <button href="#">Ver más</button>
            </div>
            <div id="origen" class="cuadroAprendeIndex">
                <h3>ORIGEN</h3>
                <button href="#">Ver más</button>
            </div>
        </div>
    </div>
</body>
</html>