<%- include ('components/_main.ejs') -%>
    <title>Masshiato</title>
</head>
<body>
  <div id="contenedorAllRAndI">
    <div id="barraNavegacionRegiyIncio">
      <a href="#">MA<span>SS</span>HIATO</a>
      <div id="grupoNavegacion">
        <ul id="barraNavegacionFija">
          <li><a href="/">Inicio</a></li>
          <li><a href="/menu">Productos</a></li>
          <li><a href="/#aprendeIndex">Aprende</a></li>
          <li><a href="/horizonte">Quienes Somos</a></li>
        </ul>
      </div>
    </div>
    <div id="contenedorInicio">
      <form action="/iniciarSesion" method="post" id="form">
        <h2>INICIA SESIÓN</h2>
        <div class="contenedorCassillasInicio">
          <input type="email" name="correo" id="correo" required><span class="barra"></span>
          <label for="">E-mail</label>
        </div>
        <div class="contenedorCassillasInicio">
          <input type="password" name="contrasena" id="Contrasena" required><span class="barra"></span>
          <label for="">Contraseña</label>
        </div>
        <div id="contenedorBotonesInicio">
          <input type="submit" value="Iniciar sesion">
        </div>
        <div id="contenidoPreguntaInicio">
          <div id="otrasPreguntas">
            <div id="preguntaRegistrar">
              <p>¿todavía no te has registrado?</p>
              <a href="/registro">Registrarse</a>
            </div>
            <div id="preguntaEliminarUsuario">
              <p>¿Quieres eliminar tu cuenta?</p>
              <a href="/eliminarUsuario">Eliminar Usuario</a>
            </div>
          </div>
          <p>¿Haz olvidado tu contraseña?<a href="/cambiarContrasena">Cambiar Contraseña</a></p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>