<%- include ('components/_main.ejs') -%>
    <title>Registro</title>
</head>
<body>
  <div id="contenedorInicio">
    <form action="" method="post" id="form">
      <h2>INICIA SESIÓN</h2>
      <div class="contenedorCassillasInicio">
        <input type="email" name="" id="campoEmail" required><span class="barra"></span>
        <label for="">E-mail</label>
      </div>
      <div class="contenedorCassillasInicio">
        <input type="password" name="" id="campoContrasena" required><span class="barra"></span>
        <label for="">Contraseña</label>
      </div>
      <div id="contenidoPreguntaInicio">
        <p>¿Aún no tienes una cuenta?<a href="#">Registrate</a></p>
      </div>
      <div id="contenedorBotonesInicio">
        <button type="submit">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</body>
</html>