<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <div id="aprende">
        <div class="contenedorCuadrosAprende">
            <div id="cuadroV60">
                <h2>¿Cómo usar el V60?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
            <div id="cuadroCafeteraItaliana">
                <h2>¿Cómo usar la Cafetera Italiana (Moka)?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
        <div class="contenedorCuadrosAprende">
            <div id="cuadroPrensaFrancesa">
                <h2>¿Cómo usar la Prensa Francesa?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
            <div id="cuadroAeropress">
                <h2>¿Cómo usar el Aeropress?</h2>
                <div class="contenedorBotonAprende">
                    <button class="mi-boton">Aprende más</button>
                </div>
            </div>
        </div>
    </div>
    <div id="procesov60">
        <div id="fondov60materiales">
            <ul id="materialesv60">
                <h3>Materiales</h3>
                <li>
                    <h5>Filtros de papel V60.</h5>
                </li>
                <li>
                    <h5>Soporte para V60.</h5>
                </li>
                <li>
                    <h5>Hervidor con agua.</h5>
                </li>
                <li>
                    <h5>Café recién molido (molienda media-fina).</h5>
                </li>
                <li>
                    <h5>Cuchara dosificadora.</h5>
                </li>
                <li>
                    <h5>Temporizador.</h5>
                </li>
                <li>
                    <h5>Balanza de cocina (opcional).</h5>
                </li>
            </ul>
            <div id="contenidoTitulov60">
                <h2>V60</h2>
                <p>El método V60 o dripper es una forma popular de preparar café manualmente que destaca por su sencillez y control sobre el proceso de extracción. Es una opción preferida para aquellos que buscan realzar las notas distintivas y delicadas de los granos de café.</p>
            </div>
        </div>
        <div id="contenedorPasosv60">
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/agua hirviendo.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 1</h3>
                    <p>Calienta suficiente agua en el hervidor. La temperatura ideal para preparar café con V60 es entre 90°C y 96°C. Deja el agua reposar durante unos 30 segundos después de hervir para que alcance la temperatura adecuada.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 2</h3>
                    <p>Coloca el filtro de papel en el soporte del V60 y colócalo encima de tu taza o jarra. Enjuaga el filtro con agua caliente. Esto eliminará el sabor a papel del filtro y calentará el equipo.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/V60 PRE INFU.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/colocar cafe v60.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 3</h3>
                    <p>Mide la cantidad de café que deseas preparar. Una buena proporción es generalmente 15 gramos de café por cada 250 ml de agua. Añade el café molido al filtro en el V60.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 4</h3>
                    <p>Comienza el temporizador y vierte agua caliente sobre el café molido de manera uniforme, asegurándote de humedecer todo el café. Deja que el café "bloom" durante unos 30-45 segundos. Durante esta fase, el café liberará dióxido de carbono y burbujeará, lo que es un proceso normal.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/V60 1.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">               
                <figure><img src="../public/IMG/ARTICULOS/v60 4.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 5</h3>
                    <p>A partir del bloom, comienza a verter agua caliente en el centro del café en círculos lentos y concéntricos. Trata de mantener el nivel del agua constante sin que el café se desborde. Agrega el agua en incrementos, permitiendo que el nivel baje antes de añadir más agua. Esto puede llevar de 2 a 3 minutos.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 6</h3>
                    <p>Una vez hayas añadido toda el agua, espera a que el café termine de gotear, lo que debería llevar aproximadamente 2-3 minutos adicionales. Deberías terminar con un tiempo total de extracción de alrededor de 3.5 a 4.5 minutos desde que comenzaste a verter el agua.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/v60 5.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/retirar v60.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 7</h3>
                    <p>Una vez que el café haya terminado de gotear, retira el V60 y el filtro. Tu café recién preparado estará en la taza o jarra. ¡Ahora es el momento de disfrutar de tu taza de café V60!</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>