<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>
    <div id="aprende">
        <div class="contenedorCuadrosAprende">
            <div id="cuadroV60">
                <h2>¿Cómo usar el V60?</h2>
                <div class="contenedorBotonAprende">
                    <a href="#procesov60" class="mi-boton">Aprende más</a>
                </div>
            </div>
            <div id="cuadroCafeteraItaliana">
                <h2>¿Cómo usar la Cafetera Italiana (Moka)?</h2>
                <div class="contenedorBotonAprende">
                    <a href="#procesocafeteraitaliana" class="mi-boton">Aprende más</a>
                </div>
            </div>
        </div>
        <div class="contenedorCuadrosAprende">
            <div id="cuadroPrensaFrancesa">
                <h2>¿Cómo usar la Prensa Francesa?</h2>
                <div class="contenedorBotonAprende">
                    <a href="#procesoPrensaFrancesa" class="mi-boton">Aprende más</a>
                </div>
            </div>
            <div id="cuadroAeropress">
                <h2>¿Cómo usar el Aeropress?</h2>
                <div class="contenedorBotonAprende">
                    <a href="#procesoAeropress" class="mi-boton">Aprende más</a>
                </div>
            </div>
        </div>
    </div>
    <div id="procesov60">
        <div id="fondov60materiales">
            <ul id="materialesv60">
                <h3>Materiales</h3>
                <li>
                    <h5>Filtros de papel V60.</h5>
                </li>
                <li>
                    <h5>Soporte para V60.</h5>
                </li>
                <li>
                    <h5>Hervidor con agua.</h5>
                </li>
                <li>
                    <h5>Café recién molido (molienda media-fina).</h5>
                </li>
                <li>
                    <h5>Cuchara dosificadora.</h5>
                </li>
                <li>
                    <h5>Temporizador (opcional).</h5>
                </li>
                <li>
                    <h5>Balanza de cocina (opcional).</h5>
                </li>
            </ul>
            <div id="contenidoTitulov60">
                <h2>V60</h2>
                <p>El método V60 o dripper es una forma popular de preparar café manualmente que destaca por su sencillez y control sobre el proceso de extracción. Es una opción preferida para aquellos que buscan realzar las notas distintivas y delicadas de los granos de café.</p>
            </div>
        </div>
        <div id="contenedorPasosv60">
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/agua hirviendo.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 1</h3>
                    <p>Calienta suficiente agua en el hervidor. La temperatura ideal para preparar café con V60 es entre 90°C y 96°C. Deja el agua reposar durante unos 30 segundos después de hervir para que alcance la temperatura adecuada.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 2</h3>
                    <p>Coloca el filtro de papel en el soporte del V60 y colócalo encima de tu taza o jarra. Enjuaga el filtro con agua caliente. Esto eliminará el sabor a papel del filtro y calentará el equipo.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/V60 PRE INFU.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/colocar cafe v60.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 3</h3>
                    <p>Mide la cantidad de café que deseas preparar. Una buena proporción es generalmente 15 gramos de café por cada 250 ml de agua. Añade el café molido al filtro en el V60.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 4</h3>
                    <p>Comienza el temporizador y vierte agua caliente sobre el café molido de manera uniforme, asegurándote de humedecer todo el café. Deja que el café "bloom" durante unos 30-45 segundos. Durante esta fase, el café liberará dióxido de carbono y burbujeará, lo que es un proceso normal.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/V60 1.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">               
                <figure><img src="../public/IMG/ARTICULOS/v60 4.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 5</h3>
                    <p>A partir del bloom, comienza a verter agua caliente en el centro del café en círculos lentos y concéntricos. Trata de mantener el nivel del agua constante sin que el café se desborde. Agrega el agua en incrementos, permitiendo que el nivel baje antes de añadir más agua. Esto puede llevar de 2 a 3 minutos.</p>
                </div>
            </div>
            <hr>
            <div class="pasov60">
                <div class="contenedorInforPasosv60">
                    <h3>Paso 6</h3>
                    <p>Una vez hayas añadido toda el agua, espera a que el café termine de gotear, lo que debería llevar aproximadamente 2-3 minutos adicionales. Deberías terminar con un tiempo total de extracción de alrededor de 3.5 a 4.5 minutos desde que comenzaste a verter el agua.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/v60 5.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasov60">
                <figure><img src="../public/IMG/ARTICULOS/retirar v60.jpg" alt=""></figure>
                <div class="contenedorInforPasosv60">
                    <h3>Paso 7</h3>
                    <p>Una vez que el café haya terminado de gotear, retira el V60 y el filtro. Tu café recién preparado estará en la taza o jarra. ¡Ahora es el momento de disfrutar de tu taza de café V60!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="procesocafeteraitaliana">
        <div id="fondoCafeteraItalianaMateriales">
            <ul id="materialesCafeteraItaliana">
                <h3>Materiales</h3>
                <li>
                    <h5>Cafetera italiana (moka pot) de tamaño adecuado.</h5>
                </li>
                <li>
                    <h5>Agua.</h5>
                </li>
                <li>
                    <h5>Café molido (molienda media).</h5>
                </li>
                <li>
                    <h5>Taza o jarra.</h5>
                </li>
            </ul>
            <div id="contenidoTituloCafeteraItaliana">
                <h2>Cafetera Italiana</h2>
                <p>Preparar café con una cafetera italiana, también conocida como Moka, es una forma clásica y popular de obtener un café fuerte y aromático. </p>
            </div>
        </div>
        <div id="contenedorPasosCafeteraItaliana">
            <div class="pasoCafeteraItaliana">
                <figure><img src="../public/IMG/ARTICULOS/llenando tanque cafetera italiana.jpg" alt=""></figure>
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 1</h3>
                    <p>Llena la base de la cafetera italiana con agua fresca hasta justo debajo de la válvula de seguridad. Asegúrate de no llenarla por encima de la válvula.</p>
                </div>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 2</h3>
                    <p>Coloca café molido en el filtro de metal en la cámara del medio de la cafetera. Usa aproximadamente 7-10 gramos de café por cada taza que desees preparar. Nivela el café, pero no lo compactes demasiado.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana llenando cafe.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana 3.jpg" alt=""></figure>
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 3</h3>
                    <p>Atornilla la parte superior de la cafetera italiana a la base, asegurándote de que esté bien cerrada. Esto asegurará que el vapor no escape durante la preparación.</p>
                </div>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 4</h3>
                    <p>Coloca la cafetera italiana en la estufa a fuego medio. Asegúrate de que el mango esté alejado del calor para que no se caliente. El agua en la base se calentará y creará vapor, que será presionado a través del café molido.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana al fuego.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">               
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana borboteando.jpg" alt=""></figure>
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 5</h3>
                    <p>A medida que el agua se calienta, el vapor generará presión y empujará el agua caliente a través del café molido en la cámara del medio. Escucharás un sonido característico similar a un gorgoteo.</p>
                </div>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 6</h3>
                    <p>Cuando escuches un siseo suave y el sonido del gorgoteo disminuya, es un indicio de que casi todo el agua ha pasado a través del café. Retira la cafetera del fuego antes de que este proceso termine completamente, para evitar que el café se vuelva amargo.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana 4.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <figure><img src="../public/IMG/ARTICULOS/cafetera italiana servir.jpg" alt=""></figure>
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 7</h3>
                    <p>Tan pronto como retires la cafetera del fuego, vierte el café en tazas o jarras. El primer chorrito de café puede ser más concentrado, así que es común desecharlo o mezclarlo con el resto para obtener una taza más equilibrada.</p>
                </div>
            </div>
            <hr>
            <div class="pasoCafeteraItaliana">
                <div class="contenedorInforPasosCafeteraItaliana">
                    <h3>Paso 8</h3>
                    <p>Ahora puedes disfrutar de tu café recién preparado. Puedes tomarlo solo, mezclarlo con leche o hacer cualquier otro tipo de preparación que desees.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/taza cafe 2.jpg" alt=""></figure>
            </div>
        </div>
    </div>
    <div id="procesoPrensaFrancesa">
        <div id="fondoPrensaFrancesaMateriales">
            <ul id="materialesPrensaFrancesa">
                <h3>Materiales</h3>
                <li>
                    <h5>Prensa francesa.</h5>
                </li>
                <li>
                    <h5>Café molido grueso.</h5>
                </li>
                <li>
                    <h5>Agua caliente.</h5>
                </li>
                <li>
                    <h5>Cuchara para revolver.</h5>
                </li>
                <li>
                    <h5>Temporizador (opcional).</h5>
                </li>
                <li>
                    <h5>Taza o jarra.</h5>
                </li>
            </ul>
            <div id="contenidoTituloPrensaFrancesa">
                <h2>Prensa Francesa</h2>
                <p>El método de prensa francesa, también conocido como prensa plunger o French press en inglés, es una técnica popular para preparar café que destaca por su simplicidad y la capacidad de resaltar los sabores y aceites naturales del café.</p>
            </div>
        </div>
        <div id="contenedorPasosPrensaFrancesa">
            <div class="pasoPrensaFrancesa">
                <figure><img src="../public/IMG/ARTICULOS/agua hirviendo 2.jpg" alt=""></figure>
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 1</h3>
                    <p>Calienta la cantidad de agua necesaria. La temperatura ideal del agua está alrededor de 90°C a 96°C. Puedes hervir el agua y luego dejarla reposar durante 30 segundos para alcanzar la temperatura adecuada.</p>
                </div>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 2</h3>
                    <p>Muele café en una molienda gruesa. La consistencia debe ser similar a la sal gruesa. Necesitarás aproximadamente 15-20 gramos de café para una prensa francesa de tamaño estándar (350-400 ml).</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/molino 4.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa hechando cafe.jpg" alt=""></figure>
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 3</h3>
                    <p>Retira la tapa y el émbolo de la prensa francesa. Añade el café molido en la base de la prensa.</p>
                </div>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 4</h3>
                    <p>Vierte el agua caliente sobre el café molido en la prensa francesa. Asegúrate de cubrir todo el café y mezclarlo ligeramente con una cuchara para garantizar una extracción uniforme.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa hechandole agua.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">               
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa embolo arriba.jpg" alt=""></figure>
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 5</h3>
                    <p>Coloca la tapa con el émbolo en la parte superior de la prensa, pero NO presiones aún. Deja que el café repose durante 4 minutos para la extracción. Comienza a contar el tiempo desde que agregaste el agua caliente.</p>
                </div>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 6</h3>
                    <p>Después de aproximadamente 1 minuto de infusión, utiliza una cuchara para romper suavemente la costra de café que se forma en la superficie. Esto ayuda a liberar los aromas y sabores.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa 4.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa precionando embolo.jpg" alt=""></figure>
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 7</h3>
                    <p>Después de los 4 minutos de infusión total, presiona lentamente el émbolo hacia abajo. Hazlo con una presión uniforme y suave. Esto separará el café molido del líquido y atrapará los posos en el fondo.</p>
                </div>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 8</h3>
                    <p>Una vez que hayas presionado completamente el émbolo hacia abajo, vierte el café en tazas o jarras. La prensa francesa retendrá los posos en la parte inferior, lo que resultará en un café más completo y con cuerpo.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/prensa francesa 3.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoPrensaFrancesa">
                <figure><img src="../public/IMG/ARTICULOS/taza cafe 3.jpg" alt=""></figure>
                <div class="contenedorInforPasosPrensaFrancesa">
                    <h3>Paso 9</h3>
                    <p>Ahora puedes disfrutar de tu café recién preparado. Puedes beberlo tal cual o añadir leche y endulzantes según tus preferencias.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="procesoAeropress">
        <div id="fondoPrensaAeropress">
            <ul id="materialesAeropress">
                <h3>Materiales</h3>
                <li>
                    <h5>AeroPress y sus componentes (pistón, cámara, filtro de papel).</h5>
                </li>
                <li>
                    <h5>Café molido (molienda media).</h5>
                </li>
                <li>
                    <h5>Hervidor con agua caliente.</h5>
                </li>
                <li>
                    <h5>Cuchara dosificadora.</h5>
                </li>
                <li>
                    <h5>Temporizador (opcional).</h5>
                </li>
                <li>
                    <h5>Taza o jarra.</h5>
                </li>
            </ul>
            <div id="contenidoTituloAeropress">
                <h2>AeroPress</h2>
                <p>El método AeroPress es un innovador y versátil método de preparación de café que utiliza un dispositivo llamado AeroPress. Fue inventado por Alan Adler en 2005 y se ha convertido en una opción popular para los amantes del café debido a su capacidad para producir café de alta calidad de manera rápida y sencilla.</p>
            </div>
        </div>
        <div id="contenedorPasosAeropress">
            <div class="pasoAeropress">
                <figure><img src="../public/IMG/ARTICULOS/agua hirviendo 3.jpg" alt=""></figure>
                <div class="contenedorInforAeropress">
                    <h3>Paso 1</h3>
                    <p>Calienta suficiente agua en el hervidor. La temperatura ideal está entre 85°C y 95°C (185°F - 205°F). Deja que el agua repose brevemente después de hervir para que alcance la temperatura adecuada.</p>
                </div>
            </div>
            <hr>
            <div class="pasoAeropress">
                <div class="contenedorInforAeropress">
                    <h3>Paso 2</h3>
                    <p>Coloca un filtro de papel en el extremo inferior del soporte del AeroPress y enjuágalo con agua caliente. Esto eliminará cualquier sabor a papel y calentará el dispositivo.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/aeropress agua caliente.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoAeropress">
                <figure><img src="../public/IMG/ARTICULOS/molino 5.jpg" alt=""></figure>
                <div class="contenedorInforAeropress">
                    <h3>Paso 3</h3>
                    <p>Utiliza la cuchara dosificadora suministrada con el AeroPress o una báscula de cocina para medir la cantidad de café. Por lo general, se usan de 15 a 20 gramos de café para una taza de 240 ml.</p>
                </div>
            </div>
            <hr>
            <div class="pasoAeropress">
                <div class="contenedorInforAeropress">
                    <h3>Paso 4</h3>
                    <p>Agrega el café molido en la cámara del AeroPress.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/cafe en aeropress.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoAeropress">               
                <figure><img src="../public/IMG/ARTICULOS/aeropress vertido.jpg" alt=""></figure>
                <div class="contenedorInforAeropress">
                    <h3>Paso 5</h3>
                    <p>Comienza el temporizador y vierte agua caliente sobre el café molido. Hazlo en un movimiento circular para asegurarte de que todo el café esté bien saturado. Vierte aproximadamente la mitad de la cantidad total de agua y luego revuelve durante unos segundos para asegurar una buena extracción.</p>
                </div>
            </div>
            <hr>
            <div class="pasoAeropress">
                <div class="contenedorInforAeropress">
                    <h3>Paso 6</h3>
                    <p>Coloca el émbolo en la parte superior del AeroPress sin presionar hacia abajo. Esto evitará que el agua se filtre mientras el café se infusiona.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/aero exprese.jpg" alt=""></figure>
            </div>
            <hr>
            <div class="pasoAeropress">
                <figure><img src="../public/IMG/ARTICULOS/aeropress presionando.jpg" alt=""></figure>
                <div class="contenedorInforAeropress">
                    <h3>Paso 7</h3>
                    <p>Luego, presiona lentamente el émbolo hacia abajo con una presión constante y controlada. Esto forzará el café a través del filtro y hacia la taza o jarra.</p>
                </div>
            </div>
            <hr>
            <div class="pasoAeropress">
                <div class="contenedorInforAeropress">
                    <h3>Paso 8</h3>
                    <p>Una vez que hayas presionado el émbolo por completo, tendrás una taza de café concentrada pero suave. Puedes disfrutarlo directamente o diluirlo con agua caliente si prefieres un café más suave. Ajusta el café a tu gusto añadiendo leche, azúcar o cualquier otro aditivo que desees.</p>
                </div>
                <figure><img src="../public/IMG/ARTICULOS/aeropress extraccion.jpg" alt=""></figure>
            </div>
        </div>
    </div>
    <%- include ('components/_footer.ejs') -%>
</body>
</html>