<%- include ('components/_main.ejs') -%>

    <title>sobelo</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>

<h1>
    hola
</h1>

    <%- include ('components/_footer.ejs') -%>
</body>
</html>