<%- include ('components/_main.ejs') -%>

    <title>sobelo</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>

    <article id="nosotrosPrincipal">
        <div class="cartasNosotros izquierda">
            <h3>HORIZONTE INSTITUCIONAL</h3>
            <p>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces. Nos dedicamos a ofrecer una experiencia excepcional con productos de alta calidad, desde bebidas hasta comidas, postres, pastelería y panadería. 
            </p>
            <!-- <img class="logosNosotros" src="../public/img/QUIENESSOMOS.jpg" alt=""> -->
        </div>
        <div class="cartasNosotros derecha">
            <h3>HORIZONTE INSTITUCIONAL</h3>
            <p>Nuestra misión es ser el destino preferido para los amantes del café, promoviendo la conexión humana en un ambiente acogedor y sostenible, mientras compartimos nuestro conocimiento y pasión por el café con la comunidad.
            </p>
            <!-- <img class="logosNosotros" src="../public/img/QUIENESSOMOS.jpg" alt=""> -->
        </div>
        <div class="cartasNosotros izquierda">
            <h3>HORIZONTE INSTITUCIONAL</h3>
            <p>Buscamos conectar con la comunidad, difundir el conocimiento sobre el café y promover la sostenibilidad, siendo una empresa socialmente responsable y respetuosa con el medio ambiente, mientras llevamos una experiencia única y memorable a cada cliente.
            </p>
            <!-- <img class="logosNosotros" src="../public/img/QUIENESSOMOS.jpg" alt=""> -->
        </div>
    </article>

    <%- include ('components/_footer.ejs') -%>
</body>
</html>