<%- include ('components/_main.ejs') -%>

    <title>sobelo</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>

    <div class="nosotrosPrincipal">
        <div class="cartasNosotros izquierda">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel corrupti aspernatur non perspiciatis porro, nostrum ratione quae incidunt quia?</p>
            <img class="logosNosotros" src="#" alt="">
        </div>
        <div class="cartasNosotros derecha">
            <img class="logosNosotros" src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel corrupti aspernatur non perspiciatis porro, nostrum ratione quae incidunt quia?</p>
        </div>
        <div class="cartasNosotros izquierda">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel corrupti aspernatur non perspiciatis porro, nostrum ratione quae incidunt quia?</p>
            <img class="logosNosotros" src="#" alt="">
        </div>
    </div>

    <%- include ('components/_footer.ejs') -%>
</body>
</html>