<%- include ('components/_main.ejs') -%>
    <title>Masshiato</title>
</head>
<body>
    <%- include ('components/_navegacion.ejs') -%>
    <section id="contenedorHorizonte">
        <div class="cardHorizonte">
            <figure><img src="../public/img/cafeteria1.jpg" alt=""></figure>
            <div class="contenedortextoHorizonte">
                <h2>Misión</h2>
                <p>En Café Masshiato, nuestra misión es proporcionar a nuestros clientes una experiencia excepcional centrada en el café y los placeres dulces de la vida. Seleccionamos los mejores granos de café y ofrecemos bebidas, comidas, postres, pastelería y panadería de alta calidad. Nuestro objetivo es ser el destino preferido para los amantes del café, fomentando la conexión humana en un ambiente acogedor y enriquecedor.</p>
            </div>
        </div>
        <div class="cardHorizonte">
            <div class="contenedortextoHorizonte">
                <h2>Horizonte Institucional</h2>
                <p>Nos enfocamos en consolidarnos como una marca líder en la industria cafetera y gastronómica, expandiéndonos estratégicamente a través de nuevas sucursales, manteniendo la pasión por la calidad y la innovación. Buscamos conectar con la comunidad, difundir el conocimiento sobre el café y promover la sostenibilidad, siendo una empresa socialmente responsable y respetuosa con el medio ambiente, mientras llevamos una experiencia única y memorable a cada cliente.</p>
            </div>
            <figure><img id="imgHorizonte" src="../public/img/cafeteria2.jpg" alt=""></figure>
        </div>
        <div class="cardHorizonte">
            <figure><img src="../public/img/cafeteria3.jpg" alt=""></figure>
            <div class="contenedortextoHorizonte">
                <h2>Visión</h2>
                <p>Nuestra Visión es ser el destino preferido para los amantes del café, promoviendo la conexión humana y compartiendo conocimiento y pasión por el café. En la cafetería, los clientes disfrutan de aromas de café recién tostado, decoración acogedora y prácticas sostenibles, mientras exploran una amplia variedad de productos y se sumergen en conversaciones.</p>
            </div>
        </div>
    </section>
    <%- include ('components/_footer.ejs') -%>
</body>
</html>