<%- include ('components/_main.ejs') -%>
    <title>Registro</title>
</head>
<body>
  <div id="contenedorAllRI"> 
    <div id="barraNavegacionRegiyIncioI">
      <a href="#">MA<span>SS</span>HIATO</a>
      <div id="grupoNavegacionI">
        <ul id="barraNavegacionFijaI">
          <li><a href="/#">Inicio</a></li>
          <li><a href="/menu">Productos</a></li>
          <li><a href="">Aprende</a></li>
          <li><a href="#">Quienes Somos</a></li>
        </ul>
      </div>
    </div>
    <div id="contenedorRegistro">
      <form action="/registrarUsuario" method="post" id="form">
        <h2>REGISTRATE</h2>
        <div class="contenedorCassillasRegistro">
          <input type="text" name="nombre" id="nombre" required><span class="barra"></span>
          <label for="">Nombre</label>
        </div>
        <div class="contenedorCassillasRegistro">
          <input type="text" name="apellido" id="apellido" required><span class="barra"></span>
          <label for="">Apellidos</label>
        </div>
        <div class="contenedorCassillasRegistro">
          <input type="email" name="email" id="email" required><span class="barra"></span>
          <label for="">E-mail</label>
        </div>
        <div class="contenedorCassillasRegistro">
          <input type="text" name="telefono" id="telefono" required><span class="barra"></span>
          <label for="">Telefono</label>
        </div>
        <div class="contenedorCassillasRegistro">
          <input type="text" name="dirreccion" id="dirreccion" required><span class="barra"></span>
          <label for="">Dirección</label>
        </div>
        <div class="contenedorCassillasRegistro">
          <input type="password" name="contrasena" id="contrasena" required><span class="barra"></span>
          <label for="">Contraseña</label>
        </div>
        <div id="contenidoPregunta">
          <p>¿Ya tienes una cuenta?<a href="/inicio">Inicia Sesión</a></p>
        </div>
        <div id="contenedorBotonesRegistro">
          <input type="submit" value="Registrar"/>
        </div>
      </form>
    </div>
  </div>
</body>
</html>