<%- include ('components/_main.ejs') -%>
    <title>Registro</title>
</head>
<body>
  <div id="contenedorRegistro">
    <form action="" method="post" id="form">
      <h2>REGISTRATE</h2>
      <div class="contenedorCassillasRegistro">
        <input type="text" name="" id="campoNombre" required><span class="barra"></span>
        <label for="">Nombre</label>
      </div>
      <div class="contenedorCassillasRegistro">
        <input type="text" name="" id="campoApellidos" required><span class="barra"></span>
        <label for="">Apellidos</label>
      </div>
      <div class="contenedorCassillasRegistro">
        <input type="email" name="" id="campoEmail" required><span class="barra"></span>
        <label for="">E-mail</label>
      </div>
      <div class="contenedorCassillasRegistro">
        <input type="text" name="" id="campoTelefono" required><span class="barra"></span>
        <label for="">Telefono</label>
      </div>
      <div class="contenedorCassillasRegistro">
        <input type="text" name="" id="campoDirreccion" required><span class="barra"></span>
        <label for="">Dirección</label>
      </div>
      <div class="contenedorCassillasRegistro">
        <input type="password" name="" id="campoContrasena" required><span class="barra"></span>
        <label for="">Contraseña</label>
      </div>
      <div id="contenidoPregunta">
        <p>¿Ya tienes una cuenta?<a href="#">Inicia Sesión</a></p>
      </div>
      <div id="contenedorBotonesRegistro">
        <button type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</body>
</html>