<%- include ('components/_main.ejs') -%>
    <title>INICIO</title>
</head>
<body>
  <div id="contenedorPortadaTiposCafe">
    <h2>TIPOS DE CAFE</h2>
  </div>
  <div id="contenedorInformacioTiposCafe">
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="arabica"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE ARABICA</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE ARABICA</h3>
        <p>Los granos de café arábica son conocidos por su sabor suave y complejo. Se cultivan en regiones de gran altitud, generalmente a más de 600 metros sobre el nivel del mar, en lugares con climas subtropicales. Esto incluye países como Colombia, Etiopía, Brasil y Costa Rica. El café arábica a menudo tiene notas de frutas, flores, nueces y una acidez más pronunciada que otras variedades.</p>
      </div>
    </div>
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="bourbon"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE BOURBON</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE BOURBON</h3>
        <p>El café bourbon es una variedad de arábica que se cultiva en diversas regiones, incluyendo América Latina, África y la isla de Java en Indonesia. Sus granos tienden a ser más pequeños y se caracterizan por un sabor suave y afrutado, a menudo con notas de caramelo y nueces.</p>
      </div>
    </div>
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="excelsa"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE EXCELSA</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE EXCELSA</h3>
        <p>El café excelsa, una variante del liberica, es conocido por su sabor más ácido y afrutado. Se cultiva en partes de Asia y África y a menudo se usa en mezclas para agregar complejidad de sabor.</p>
      </div>
    </div>
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="geisha"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE GEISHA</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE GEISHA</h3>
        <p>El café Geisha es altamente valorado por su perfil de sabor excepcional. Es un arábica que se cultiva en países como Panamá, Colombia y Etiopía. Tiene notas florales, afrutadas y a menudo se describe como delicado y elegante.</p>
      </div>
    </div>  
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="liberica"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE LIBERICA</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE LIBERICA</h3>
        <p>Los granos de café liberica tienen un sabor distintivo, a menudo descrito como terroso, a madera o a nuez. Aunque no es tan popular como el arábica o el robusta, se cultiva en regiones de África Occidental y Central y se utiliza en algunas mezclas.</p>
      </div>
    </div>
    <div class="cardCafe">
      <div class="contenedorTrajetasTiposCafe front">
        <figure id="robusta"></figure>
        <div class="contenedorTextoTiposCafe">
          <h3>CAFE ROBUSTA</h3>
        </div>
      </div>
      <div class="contenedorTrajetasTiposCafe back">
        <h3>CAFE ROBUSTA</h3>
        <p>El café robusta se cultiva en regiones más bajas y cálidas, generalmente entre 200 y 800 metros sobre el nivel del mar. Es conocido por su sabor más fuerte y amargo, así como por su mayor contenido de cafeína en comparación con el arábica. Se usa comúnmente en mezclas de café espresso debido a su cuerpo y crema más densa.</p>
      </div>
    </div>
  </div>
</body>
</html>