$colorFondoAndText: #fff;
$colorSecundario: #9e7540;
$colorTerceareo: #000;
$colorInsta: #e72fcfde;
$colorWhatsapp: #23c73e;
$colorTwitter: #1d8dd8;
$colorFacebook: #0f26a8;
* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
}
@mixin trasform {
  transform: scale(1.1);
  opacity: 0.9;
}
@mixin centrar {
  display: grid;
  place-items: center;
  place-content: center;
}
@mixin textDecoration {
  text-decoration: none;
  color: $colorTerceareo;
}
@mixin grosor {
  font-weight: 800;
}
@mixin alinearTextCenter {
  text-align: center;
}
@mixin fuenteTitulos {
  font-family: "Nunito", sans-serif;
}
@mixin fuenteParrafosN {
  font-family: "Quicksand", sans-serif;
}
@mixin fuenteParrafosP {
  font-family: "PT Mono", monospace;
}
@mixin listas {
  list-style: none;
}
@mixin border {
  border-radius: 1.5em;
}
body {
  padding: 0;
  margin: 0;
}
footer {
  width: 100%;
  svg {
    width: 100%;
    overflow: visible;
  }
  .wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: $colorSecundario;
  }
  .drop {
    fill: $colorSecundario;
    animation: drop 3.2s linear infinite normal;
    stroke: $colorSecundario;
    stroke-width: 0.5;
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%;
  }
  .drop1 {
    animation-delay: 1s;
    animation-duration: 2.8s;
  }
  .drop2 {
    animation-delay: 3s;
    animation-duration: 3s;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration: 3.4s;
  }
  .drop4 {
    animation-delay: 1.7s;
  }
  .drop5 {
    animation-delay: 2.7s;
    animation-duration: 3.1s;
  }
  .drop6 {
    animation-delay: -2.1s;
    animation-duration: 3.2s;
  }
  .gooeff {
    filter: url(#goo);
  }
  #wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: 0.6;
  }
  #wave3 {
    animation-duration: 7s;
    opacity: 0.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(25px);
    }
    30% {
      transform: translateY(-10px) scale(0.1);
    }
    70% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(-10px) scale(0.1);
    }
  }
  @keyframes wave {
    to {
      transform: translateX(-100%);
    }
  }
  #contenedorTodoFooter {
    background: $colorSecundario;
    #contenedorFooter {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: space-evenly;
      h3 {
        color: $colorFondoAndText;
        font-size: 23px;
        margin: 0;
        @include fuenteTitulos;
        @include alinearTextCenter;
        @include grosor();
      }
      #contenedorLogoNavRedesFooter {
        #navPrincipalFooter {
          li {
            @include listas();
            margin: 15px 30px 15px 0;
            text-align: center;
            width: auto;
            height: auto;
          }
          & a {
            font-size: 19px;
            font-weight: bold;
            @include textDecoration();
            @include fuenteParrafosP();
            color: $colorFondoAndText;
          }
          li:hover {
            @include trasform();
          }
        }
      }
      #redesFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #menuRedesFooter {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          li {
            list-style: none;
            width: 100%;
            height: 100%;
            figure {
              border-radius: 50%;
              border: solid 1.8px #5c3706;
              background-color: #ffffffc4;
              height: 38px;
              width: 38px;
              margin: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                width: 30px;
                height: 30px;
              }
            }
          }
          #lgW:hover {
            fill: $colorWhatsapp;
            background-color: $colorFondoAndText;
            border: solid 1.8px $colorWhatsapp;
            transition: 0.3s ease-in;
          }
          #lgT:hover {
            fill: $colorTerceareo;
            background-color: $colorFondoAndText;
            border: solid 1.8px $colorTerceareo;
            transition: 0.3s ease-in;
          }
          #lgI:hover {
            fill: $colorInsta;
            background-color: $colorFondoAndText;
            border: solid 1.8px $colorInsta;
            transition: 0.3s ease-in;
          }
          #lgF:hover {
            fill: $colorFacebook;
            background-color: $colorFondoAndText;
            border: solid 1.8px $colorFacebook;
            transition: 0.3s ease-in;
          }
        }
      }
    }
    #menuFooter {
      li {
        @include listas();
        padding: 10px;
        text-align: center;
        width: auto;
        height: auto;
      }
      & a {
        font-size: 18px;
        margin-right: 42px;
        font-weight: bold;
        @include textDecoration();
        @include fuenteParrafosP();
        color: $colorFondoAndText;
      }
      li:hover {
        @include trasform();
      }
    }
    #informacionCafeteria {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #telefono {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
        figure{
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0;
          svg{
            fill: $colorFondoAndText;
            border-radius: 50%;
            border: solid 2px #5c3706;
            height: 23px;
            width: 23PX;
            margin: 0 10px;
            padding: 4px;
          }
          a{
            color: $colorFondoAndText;
            font-size: 16px;
            @include fuenteParrafosP();
            @include grosor();
            text-decoration: none;
          }
        }
      }
      #direccion{
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
        figure{
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0;
          svg{
            fill: $colorFondoAndText;
            border-radius: 50%;
            border: solid 2px #5c3706;
            height: 23px;
            width: 23PX;
            margin: 0 10px;
            padding: 4px;
          }
          a {
            color: $colorFondoAndText;
            font-size: 16px;
            @include fuenteParrafosP();
            @include grosor();
            text-decoration: none;
          }
        }
      }
      #emailFooter{
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
        figure{
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0;
          svg{
            fill: $colorFondoAndText;
            border-radius: 50%;
            border: solid 2px #5c3706;
            height: 23px;
            width: 23PX;
            margin: 0 10px;
            padding: 4px;
          }
          a{
            color: $colorFondoAndText;
            font-size: 16px;
            @include fuenteParrafosP();
            @include grosor();
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
            cursor: pointer;
            color: #5c3706;
            transition: 0.4s ease-in-out;
          }
        }
      }
      #suscrib{
        margin: 0;
        width: 100%;
        h4{
          color: $colorFondoAndText;
          font-size: 24px;
          text-align: center;
        }
        form{
          padding-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #fff;
          margin-bottom: 20px;
          svg{
            color: $colorFondoAndText;
            width: 28px;
            height: 28px;
            margin-right: 10px;
          }
          input{
            width: 100%;
            background: transparent;
            color: #fff;
            border: 0;
            outline: none;
          }
          input::placeholder{
            color: #fff;
            font-size: 16px;
            @include fuenteParrafosP()
          }
          button{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            svg{
              width: 28px;
              height: 28px;
              fill: $colorFondoAndText;
            }
            svg:hover{
              transform: scale(1.05);
              transition: 0.8 ease;
            }
          }
        }
      }
    }
  }
  #derechosAutor {
    hr {
      border-width: 1.5px;
      opacity: 40%;
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 5px;
      margin: 3px;
    }
    p {
      color: $colorFondoAndText;
      font-size: 16px;
      @include fuenteParrafosP();
      @include alinearTextCenter();
      padding: 15px;
      margin: 0;
    }
  }
}
