$colorFondoAndText: #fff;
$colorSecundario: #9e7540;
$colorTerceareo: #000;
$colorCuarto: #ffc26f;
$colorInsta: #e72fcfde;
$colorWhatsapp: #23c73e;
$colorTwitter: #1d8dd8;
$colorFacebook: #0f26a8;
$colorFondoPag: #ebddca;
$colorCafe: #3b221a;

* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
}

@mixin backEdition {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin fuenteTitulos {
  font-family: "Nunito", sans-serif;
}
@mixin fuenteParrafosN {
  font-family: "Quicksand", sans-serif;
}
@mixin fuenteParrafosP {
  font-family: "PT Mono", monospace;
}
@mixin fuenteh1 {
  font-family: "Caveat", cursive;
}
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 1366px;
  height: 699px;
  background-image: linear-gradient(#0c0b0b00, #0000006c), url(../../img/portadapag.jpg);
  background-size: cover;
  background-position: center;
  nav{
    position: sticky;
    background-color: #22130d4f;
    display: flex;
    width: 100%;
    height: 90px;
    #contenedorImgNav{
      margin: 0 300px 0 20px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      h1{
        @include fuenteh1();
        font-size: 40px;
        color: $colorFondoAndText;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 0;
        span{
        font-size: 40px;
        color: #ffc26f;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 0;
        filter: drop-shadow(1px 1px 5px #b87f2a8e);
        }
      }
    }
    #barraNavegacionPrincipalNav{
      width: 55%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      li{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
          text-decoration: none;
          @include fuenteParrafosN();
          color: $colorFondoAndText;
          font-weight: 600;
          letter-spacing: 1px;
          border-radius: 10px;
          font-size: 16px;
          text-align: center;
          padding: 13px 5px 5px 5px;
          transition: 0.5s ease;
        }
      }
      li:hover a{
        border-radius: 10px;
        color: #ffc26f;
        padding: 13px 5px 5px 5px;
      }
    }
    #contenedorBotonesNav{
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      #botonModoOscuroNav{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          fill: #ffffff;
          width: 26px;
          height: 26px;
          filter: drop-shadow(1px 1px 5px #ffc36f34);
          padding: 5px;
        }
        .switch{
          position: relative;
          display: inline-block;
          width: 60px;
          height: 30px;
          filter: drop-shadow(1px 1px 10px #ffffff4f);
          input{
            opacity: 0;
            width: 0;
            height: 0;
          }
          input:checked+.slider{
            background-color: $colorTerceareo;
          }
          input:focus+.slider{
            box-shadow: 0 0 1 $colorTerceareo;
          }
          input:checked+.slider::before{
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          .slider{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            border-radius: 20px;
            background-color: $colorCuarto;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          .slider::before{
            position: absolute;
            content: "";
            width: 23px;
            height: 23px;
            left: 4px;
            bottom: 4px;
            border-radius: 50%;
            background-color: $colorFondoAndText;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
        }
      }
      #botonCarritoNav{
        width: 50%;
        a{
          display: grid;
          place-items: center;
          text-decoration: none;
          svg{
            fill: $colorFondoAndText;
            height: 40px;
            width: 40px;
            padding: 5px 5px 5px 5px;
            transition: 0.5s ease;
            border-radius: 10px;
            filter: drop-shadow(1px 1px 5px #ffc36f34);
          }
        }
        a:hover svg{
          padding: 5px 5px 5px 5px;
          border-radius: 10px;
          fill: #ffc26f;
        }
      }
    }
  }
  #contenedroTituloNav{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    figure{
      img{
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: solid 2px $colorCafe;
      }
    }
    p{
      @include fuenteParrafosN();
      color: $colorFondoAndText;
      font-size: 20px;
      margin: 0;
    }
  }
}