$colorFondoAndText: #fff;
$colorSecundario: #9e7540;
$colorTerceareo: #000;
$colorCuarto: #ffc26f;
$colorInsta: #e72fcfde;
$colorWhatsapp: #23c73e;
$colorTwitter: #1d8dd8;
$colorFacebook: #0f26a8;
$colorFondoPag: #ebddca;
$colorCafe: #3b221a;

* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
}
@mixin backEdition {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin fuenteTitulos {
  font-family: "Nunito", sans-serif;
}
@mixin fuenteParrafosN {
  font-family: "Quicksand", sans-serif;
}
@mixin fuenteParrafosP {
  font-family: "PT Mono", monospace;
}
@mixin fuenteh1 {
  font-family: "Caveat", cursive;
}
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 1366px;
  height: 699px;
  // background-image: linear-gradient(#6e6c6c00, #000000bd), url(../../../img/portadapag.jpg);
  // background-size: cover;
  // background-position: center;
  background-color: #9e7540;
  nav{
    display: flex;
    width: 100%;
    height: 80px;
    #contenedorImgNav{
      width: 10%;
      margin: 0 303px 0 20px;
      background-color: #1d8dd8;
    }
    #barraNavegacionPrincipalNav{
      width: 55%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        background-color: #3b221a;
        width: 24%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a{
          text-decoration: none;
          @include fuenteParrafosN();
          color: $colorFondoAndText;
          font-weight: 600;
          letter-spacing: 1.2px;
          font-size: 16px;
          padding: 15px;
        }
      }
    }
    #contenedorBotonesNav{
      width: 13%;
      background-color: #0f26a8;
    }
  }
}