$colorFondoAndText: #fff;

$colorSecundario: #9e7540;

$colorTerceareo: #000;

$sobreLetras: #7e7e7e;

$colorCafe: #3b221a;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $colorFondoAndText;
}

header {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    height: 400px;
    background-image: url(../../img/fondonav5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;

    .imgLogoh {
        width: 170px;
        height: 150px;
        img {
            width: 170px;
            height: 150px;
            translate: -20px -20px;
        }
    }
    .icopor {
        display: grid;
        grid-template-columns: 35% 30%;
        padding-left: 40px;
        .ionicon {
            width: 35px;
            height: 35px;
            fill: rgb(255, 255, 255);
            cursor: pointer;
        }
    }
    .botones {
        display: flex;
        justify-content: center;
    }

    .barraBusqueda {
        display: flex;
        justify-content: center;

        input {
            margin-top: 10px;
            width: 65%;
            padding: 5px;
            border: none;
            border-right: none;
            border-radius: 5px 0 0 5px;
            height: 24px;
            background-color: #00000060;
            color: white;
        }

        .botonBuscar {
            display: flex;
            margin-top: 10px;
            padding: 0;
            height: 36px;
            background-color: #271b0db0;
            border: none;
            border-left: none;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;

            svg{
                width: 90%;
                height: 90%;
                translate: 0 -5px;
            }
        }
    }
    #navBarra {
        translate: 0 99px;
        background-color: #0000006b;
        height: 50px;
        width: 100vmax;
        display: flex;
        justify-content: center;

        .botonNav {
            text-align: center;
            margin: auto;
            list-style: none;
            color: #fff;
            margin-top: 11px;
            font-size: 22px;
            text-decoration: none;
            display: block;
            width: 20%;
            height: 100%;

            &:hover {
                background-color: #36281700;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}
