* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
}

body {
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
}
footer svg {
  width: 100%;
  overflow: visible;
}
footer .wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #9e7540;
}
footer .drop {
  fill: #9e7540;
  animation: drop 3.2s linear infinite normal;
  stroke: #9e7540;
  stroke-width: 0.5;
  transform: translateY(25px);
  transform-box: fill-box;
  transform-origin: 50% 100%;
}
footer .drop1 {
  animation-delay: 1s;
  animation-duration: 2.8s;
}
footer .drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
}
footer .drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
}
footer .drop4 {
  animation-delay: 1.7s;
}
footer .drop5 {
  animation-delay: 2.7s;
  animation-duration: 3.1s;
}
footer .drop6 {
  animation-delay: -2.1s;
  animation-duration: 3.2s;
}
footer .gooeff {
  filter: url(#goo);
}
footer #wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
footer #wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px);
  }
  30% {
    transform: translateY(-10px) scale(0.1);
  }
  70% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-10px) scale(0.1);
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
footer #contenedorTodoFooter {
  background: #9e7540;
}
footer #contenedorTodoFooter #contenedorFooter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-evenly;
}
footer #contenedorTodoFooter #contenedorFooter h3 {
  color: #fff;
  font-size: 23px;
  margin: 0;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 800;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #navPrincipalFooter li {
  list-style: none;
  margin: 15px 30px 15px 0;
  text-align: center;
  width: auto;
  height: auto;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #navPrincipalFooter a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: "PT Mono", monospace;
  color: #fff;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #navPrincipalFooter li:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter {
  width: auto;
  height: auto;
  cursor: pointer;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter a {
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: 20% 60%;
  place-items: right;
  gap: 20px;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter a #logoTipo {
  border-radius: 50%;
  border: #5c3706 solid 3px;
  width: 80px;
  height: 80px;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter a #logoTipo img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter a #isoLogo {
  height: 85px;
  width: 220px;
}
footer #contenedorTodoFooter #contenedorFooter #contenedorLogoNavRedesFooter #logoFooter a #isoLogo img {
  height: inherit;
  width: inherit;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter li {
  list-style: none;
  width: 100%;
  height: 100%;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter li figure {
  border-radius: 50%;
  border: solid 3px #5c3706;
  background-color: #ffffff;
  height: 38px;
  width: 38px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter li figure svg {
  width: 30px;
  height: 30px;
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter #lgW:hover {
  fill: #fff;
  background-color: #23c73e;
  border: solid 3px #fff;
  transition: 0.3s ease-in;
  transform: scale(1.06);
  animation-duration: 0.5s;
  animation-name: fondoWhatsapp;
  box-shadow: 5px 5px 10px rgba(35, 199, 62, 0.5607843137);
}
@keyframes fondoWhatsapp {
  0% {
    fill: #000;
  }
  25% {
    fill: #313030;
  }
  50% {
    fill: #504e4e;
  }
  75% {
    fill: #979797;
  }
  100% {
    fill: #ffffff;
  }
}
footer #contenedorTodoFooter #contenedorFooter #redesFooter #menuRedesFooter #lgT:hover {
  fill: #000;
  border: solid 3px #000;
  transition: 0.3s ease-in;
  transform: scale(1.06);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4941176471);
}
footer #contenedorTodoFooter #menuFooter li {
  list-style: none;
  padding: 10px;
  text-align: center;
  width: auto;
  height: auto;
}
footer #contenedorTodoFooter #menuFooter a {
  font-size: 20px;
  margin-right: 42px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: "PT Mono", monospace;
  color: #fff;
}
footer #contenedorTodoFooter #menuFooter li:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
footer #contenedorTodoFooter #productosFooter li {
  list-style: none;
  text-align: center;
  padding: 10px;
  width: auto;
  height: auto;
}
footer #contenedorTodoFooter #productosFooter a {
  font-size: 20px;
  margin-right: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: "PT Mono", monospace;
  color: #fff;
}
footer #contenedorTodoFooter #productosFooter li:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
footer #derechosAutor hr {
  border-width: 1.5px;
  opacity: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  margin: 3px;
}
footer #derechosAutor p {
  color: #fff;
  font-size: 16px;
  font-family: "PT Mono", monospace;
  text-align: center;
  padding: 15px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
