<footer>
  <svg viewBox="0 0 120 28">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="
              1 0 0 0 0  
              0 1 0 0 0  
              0 0 1 0 0  
              0 0 0 13 -9"
          result="goo"
        />
        <xfeBlend in="SourceGraphic" in2="goo" />
      </filter>
      <path
        id="wave"
        d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z"
      />
    </defs>

    <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2"></use>
    <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>

    <g class="gooeff" filter="url(#goo)">
      <circle class="drop drop1" cx="20" cy="2" r="8.8" />
      <circle class="drop drop2" cx="25" cy="2.5" r="7.5" />
      <circle class="drop drop3" cx="16" cy="2.8" r="9.2" />
      <circle class="drop drop4" cx="18" cy="2" r="8.8" />
      <circle class="drop drop5" cx="22" cy="2.5" r="7.5" />
      <circle class="drop drop6" cx="26" cy="2.8" r="9.2" />
      <circle class="drop drop1" cx="5" cy="4.4" r="8.8" />
      <circle class="drop drop2" cx="5" cy="4.1" r="7.5" />
      <circle class="drop drop3" cx="8" cy="3.8" r="9.2" />
      <circle class="drop drop4" cx="3" cy="4.4" r="8.8" />
      <circle class="drop drop5" cx="7" cy="4.1" r="7.5" />
      <circle class="drop drop6" cx="10" cy="4.3" r="9.2" />

      <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8" />
      <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5" />
      <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2" />
      <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8" />
      <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5" />
      <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2" />
      <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
    </g>
  </svg>
  <div id="contenedorTodoFooter">
    <div id="contenedorFooter">
      <div id="infoCafeFooter">
        <figure><img src="../../public/img/ICONOS/nombre masshiato png.png" alt=""></figure>
        <p>Somos Café Masshiato, un equipo apasionado por el café y los placeres dulces. Nos dedicamos a ofrecer una experiencia excepcional con productos de alta calidad, desde bebidas hasta comidas, postres, pastelería y panadería.</p>
        <div id="redesFooter">
          <h3>NUESTRAS REDES</h3>
          <ul id="contenedorRedes">
            <li id="whatsapp"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M414.73 97.1A222.14 222.14 0 00256.94 32C134 32 33.92 131.58 33.87 254a220.61 220.61 0 0029.78 111L32 480l118.25-30.87a223.63 223.63 0 00106.6 27h.09c122.93 0 223-99.59 223.06-222A220.18 220.18 0 00414.73 97.1zM256.94 438.66h-.08a185.75 185.75 0 01-94.36-25.72l-6.77-4-70.17 18.32 18.73-68.09-4.41-7A183.46 183.46 0 0171.53 254c0-101.73 83.21-184.5 185.48-184.5a185 185 0 01185.33 184.64c-.04 101.74-83.21 184.52-185.4 184.52zm101.69-138.19c-5.57-2.78-33-16.2-38.08-18.05s-8.83-2.78-12.54 2.78-14.4 18-17.65 21.75-6.5 4.16-12.07 1.38-23.54-8.63-44.83-27.53c-16.57-14.71-27.75-32.87-31-38.42s-.35-8.56 2.44-11.32c2.51-2.49 5.57-6.48 8.36-9.72s3.72-5.56 5.57-9.26.93-6.94-.46-9.71-12.54-30.08-17.18-41.19c-4.53-10.82-9.12-9.35-12.54-9.52-3.25-.16-7-.2-10.69-.2a20.53 20.53 0 00-14.86 6.94c-5.11 5.56-19.51 19-19.51 46.28s20 53.68 22.76 57.38 39.3 59.73 95.21 83.76a323.11 323.11 0 0031.78 11.68c13.35 4.22 25.5 3.63 35.1 2.2 10.71-1.59 33-13.42 37.63-26.38s4.64-24.06 3.25-26.37-5.11-3.71-10.69-6.48z" fill-rule="evenodd"/></svg></a></li>
            <li id="intagram"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"/><path d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"/></svg><figure></figure></a></li>
            <li id="facebook"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd"/></svg></a></li>
            <li id="twitter"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
              <path fill="#fff" fill-rule="evenodd" d="M38,42H10c-2.209,0-4-1.791-4-4V10c0-2.209,1.791-4,4-4h28	c2.209,0,4,1.791,4,4v28C42,40.209,40.209,42,38,42z" clip-rule="evenodd"></path><path fill="#000" d="M34.257,34h-6.437L13.829,14h6.437L34.257,34z M28.587,32.304h2.563L19.499,15.696h-2.563 L28.587,32.304z"></path><polygon fill="#000" points="15.866,34 23.069,25.656 22.127,24.407 13.823,34"></polygon><polygon fill="#000" points="24.45,21.721 25.355,23.01 33.136,14 31.136,14"></polygon>
              </svg></a></li>
          </ul>
        </div>
      </div>
      <div id="contactanosFooter">
        <h2>CONTACTANOS</h2>
        <div id="datosExtraCafeteria">
          <div class="contenedorDatos">
            <figure><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"/></svg></figure>
            <span>+57 3126549823</span>
          </div>
          <div class="contenedorDatos">
            <figure><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M320 254.27c-4.5 51-40.12 80-80.55 80s-67.34-35.82-63.45-80 37.12-80 77.55-80 70.33 36 66.45 80z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M319.77 415.77c-28.56 12-47.28 14.5-79.28 14.5-97.2 0-169-78.8-160.49-176s94.31-176 191.51-176C381 78.27 441.19 150 432.73 246c-6.31 71.67-52.11 92.32-76.09 88.07-22.56-4-41.18-24.42-37.74-63.5l8.48-96.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></figure>
            <span>Masshato23@gmail.com</span>
          </div>
          <div class="contenedorDatos">
            <figure><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22s8.029-5.56 8-12c0-4.411-3.589-8-8-8S4 5.589 4 9.995C3.971 16.44 11.696 21.784 12 22zM8 9h3V6h2v3h3v2h-3v3h-2v-3H8V9z"/></svg></figure>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span> 
          </div>
        </div>
      </div>
      <div id="suscribcion"></div>
    </div>
    <div id="derechosAutor">
      <hr />
      <p>Masshiato 2023 © Todos los derechos reservados</p>
    </div>
  </div>
</footer>
