<footer>
  <div id="contenedorFooter">
    <div id="contenedorLogoNavRedesFooter">
      <div id="navPrincipalFooter">
        <h3>Navegacion Principal</h3>
        <ul id="menuNavPrincipalFooter">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Aprende</a></li>
          <li><a href="#">Menú</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </div>
      <div id="logoFooter">
        <figure><img src="#" alt=""></figure>
        <figure><img src="#" alt=""></figure>
      </div>
      <div id="redesFooter">
        <ul id="menuRedesFooter">
          <li>
            <figure>
              <a href="#"><img src="../../public/img/ICONOS/logo-facebook.svg" alt=""></a>
            </figure>
          </li>
          <li>
            <figure>
              <img src="../../public/img/ICONOS/logo-instagram.svg" alt="">
              <a href="#"></a>
            </figure>
          </li>
          <li>
            <figure>
              <img src="../../public/img/ICONOS/logo-twitter.svg" alt="">
              <a href="#"></a>
            </figure>
          </li>
          <li>
            <figure>
              <img src="../../public/img/ICONOS/logo-whatsapp.svg" alt="">
              <a href="#"></a>
            </figure>
          </li>
        </ul>
      </div>
    </div>
    <div id="menuFooter">
      <h3>Menú</h3>
      <ul id="menuMenuFooter">
        <li><a href="#">Reposteria</a></li>
        <li><a href="#">Panaderia</a></li>
        <li><a href="#">Pasteleria</a></li>
        <li><a href="#">Bebidas Calientes</a></li>
        <li><a href="#">Bebidas Frias</a></li>
        <li><a href="#">Comidas</a></li>
      </ul>
    </div>
    <div id="productosFooter">
      <h3>Productos</h3>
      <ul id="menuProductosFooter">
        <li><a href="#">Cafeteras</a></li>
        <li><a href="#">Filtros</a></li>
        <li><a href="#">Café Sin Moler</a></li>
        <li><a href="#">Derivados Del Café</a></li>
        <li><a href="#">Molinos</a></li>
      </ul>
    </div>
  </div>
  <div id="derechosAutor">
    <hr>
    <p></p>
  </div>
</footer>