<footer>
  <svg viewBox="0 0 120 28">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="
              1 0 0 0 0  
              0 1 0 0 0  
              0 0 1 0 0  
              0 0 0 13 -9"
          result="goo"
        />
        <xfeBlend in="SourceGraphic" in2="goo" />
      </filter>
      <path
        id="wave"
        d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z"
      />
    </defs>

    <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2"></use>
    <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>

    <g class="gooeff" filter="url(#goo)">
      <circle class="drop drop1" cx="20" cy="2" r="8.8" />
      <circle class="drop drop2" cx="25" cy="2.5" r="7.5" />
      <circle class="drop drop3" cx="16" cy="2.8" r="9.2" />
      <circle class="drop drop4" cx="18" cy="2" r="8.8" />
      <circle class="drop drop5" cx="22" cy="2.5" r="7.5" />
      <circle class="drop drop6" cx="26" cy="2.8" r="9.2" />
      <circle class="drop drop1" cx="5" cy="4.4" r="8.8" />
      <circle class="drop drop2" cx="5" cy="4.1" r="7.5" />
      <circle class="drop drop3" cx="8" cy="3.8" r="9.2" />
      <circle class="drop drop4" cx="3" cy="4.4" r="8.8" />
      <circle class="drop drop5" cx="7" cy="4.1" r="7.5" />
      <circle class="drop drop6" cx="10" cy="4.3" r="9.2" />

      <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8" />
      <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5" />
      <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2" />
      <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8" />
      <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5" />
      <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2" />
      <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
    </g>
  </svg>
  <div id="contenedorTodoFooter">
    <div id="contenedorFooter">
      <div id="contenedorLogoNavRedesFooter">
        <div id="navPrincipalFooter">
          <h3>Navegacion Principal</h3>
          <ul id="menuNavPrincipalFooter">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Aprende</a></li>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
          </ul>
        </div>
        <div id="redesFooter">
          <h3>Nuestras Redes</h3>
          <ul id="menuRedesFooter">
            <li><a href="#"><figure id="lgW"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
              <path d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z"></path>
          </svg></figure></a></li>
            <li><a href="#"><figure id="lgT"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
              <path d="M 11 4 C 7.1456661 4 4 7.1456661 4 11 L 4 39 C 4 42.854334 7.1456661 46 11 46 L 39 46 C 42.854334 46 46 42.854334 46 39 L 46 11 C 46 7.1456661 42.854334 4 39 4 L 11 4 z M 11 6 L 39 6 C 41.773666 6 44 8.2263339 44 11 L 44 39 C 44 41.773666 41.773666 44 39 44 L 11 44 C 8.2263339 44 6 41.773666 6 39 L 6 11 C 6 8.2263339 8.2263339 6 11 6 z M 13.085938 13 L 22.308594 26.103516 L 13 37 L 15.5 37 L 23.4375 27.707031 L 29.976562 37 L 37.914062 37 L 27.789062 22.613281 L 36 13 L 33.5 13 L 26.660156 21.009766 L 21.023438 13 L 13.085938 13 z M 16.914062 15 L 19.978516 15 L 34.085938 35 L 31.021484 35 L 16.914062 15 z"></path>
              </svg></figure></a></li>
            <li><a href="#"><figure id="lgI"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
              <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
          </svg></figure></a></li>
            <li><a href="#"><figure id="lgF"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 64 64">
              <path d="M32,6C17.642,6,6,17.642,6,32c0,13.035,9.603,23.799,22.113,25.679V38.89H21.68v-6.834h6.433v-4.548	c0-7.529,3.668-10.833,9.926-10.833c2.996,0,4.583,0.223,5.332,0.323v5.965h-4.268c-2.656,0-3.584,2.52-3.584,5.358v3.735h7.785	l-1.055,6.834h-6.73v18.843C48.209,56.013,58,45.163,58,32C58,17.642,46.359,6,32,6z"></path>
              </svg></figure></a></li>
          </ul>
        </div>
      </div>
      <div id="menuFooter">
        <h3>Menú</h3>
        <ul id="menuMenuFooter">
          <li><a href="#">Reposteria</a></li>
          <li><a href="#">Panaderia</a></li>
          <li><a href="#">Pasteleria</a></li>
          <li><a href="#">Bebidas Calientes</a></li>
          <li><a href="#">Bebidas Frias</a></li>
          <li><a href="#">Comidas</a></li>
        </ul>
      </div>
      <div id="contenedorSuscribción">
        <div id="informacionCafeteria">
          <h3>Contactanos</h3>
          <div id="telefono">
            <figure>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"/></svg>
              <a href="#">+57 3128473782</a>
            </figure>
          </div>
          <div id="direccion">
            <figure><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22s8.029-5.56 8-12c0-4.411-3.589-8-8-8S4 5.589 4 9.995C3.971 16.44 11.696 21.784 12 22zM8 9h3V6h2v3h3v2h-3v3h-2v-3H8V9z"/></svg><a href="#">Lorem ipsum dolor sit.</a></figure>
          </div>
          <div id="emailFooter">
            <figure><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"/></svg><a href="#">Masshiato@gmail.com</a></figure>
          </div>
          <div id="suscrib">
            <h4>Suscribete</h4>
            <form>
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M320 254.27c-4.5 51-40.12 80-80.55 80s-67.34-35.82-63.45-80 37.12-80 77.55-80 70.33 36 66.45 80z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M319.77 415.77c-28.56 12-47.28 14.5-79.28 14.5-97.2 0-169-78.8-160.49-176s94.31-176 191.51-176C381 78.27 441.19 150 432.73 246c-6.31 71.67-52.11 92.32-76.09 88.07-22.56-4-41.18-24.42-37.74-63.5l8.48-96.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
              <input type="email" placeholder="Ingresa tu E-mail" required>
              <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 15v-4H7v-2h5V7l5 5-5 5z"/></svg></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="derechosAutor">
      <hr />
      <p>Masshiato 2023 © Todos los derechos reservados</p>
    </div>
  </div>
</footer>
