<body>
  <header>
    <nav>
      <div id="contenedorImgNav">
        <picture>
          <img src="#" alt="">
        </picture>
      </div>
      <ul id="barraNavegacionPrincipalNav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Aprende</a></li>
        <li><a href="#">Quienes Somos</a></li>
      </ul>
      <div id="contenedorBotonesNav">
        <div id="botonModoOscuroNav"></div>
        <div id="botonBusquedaNav"></div>
      </div>
    </nav>
  </header>
</body>

