<header>
  <div id="contenedorNav">
    <div id="logosNav">
      <figure><img class="imgLogosNav" src="../../public/img/ke-vin-oCtl9WEP7Ig-unsplash.jpg" alt=""></figure>
      <figure><img class="imgLogosNav" src="../../public/img/ke-vin-oCtl9WEP7Ig-unsplash.jpg" alt=""></figure>
    </div>
    <div id="opcionesNav">
      <input id="buscadorNav" type="text" placeholder="busqueda">
      <button id="modoOscuro">modoOscuro</button>
      <div id="botonesInteracciones">
        <figure><a href="#"><img class="imgOpcionesNav" src="../../public/img/" alt=""></a></figure>
        <figure><a href="#"><img class="imgOpcionesNav" src="../../public/img/" alt=""></a></figure>
      </div>
    </div>
  </div>
  <nav id="navPrincipal">
    <ul id="menuNav">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Datos curioso</a></li>
      <li><a href="#">Menú</a>
      <ul class="subMenuNav">
        <li><a href="#">Reposteria</a></li>
        <li><a href="#">Panaderia</a></li>
        <li><a href="#">Pasteleria</a></li>
        <li><a href="#">Bebidas Calientes</a></li>
        <li><a href="#">Bebidas Frias</a></li>
        <li><a href="#">Comidas</a></li>
      </ul>
      </li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Nosotros</a></li>
    </ul>
  </nav>
</header>