<!-- <header id="headerNav">
  <div id="logosHeader">
    <figure><img class="imgLogosHeader" src="../../public/img/ke-vin-oCtl9WEP7Ig-unsplash.jpg" alt=""></figure>
    <figure><img class="imgLogosHeader logoHeader" src="../../public/img/ke-vin-oCtl9WEP7Ig-unsplash.jpg" alt=""></figure>
  </div>
  <div id="opcionesHeader">
    <input id="buscadorHeader" type="text" placeholder="busqueda">
    <button id="modoOscuro">mD</button>
      <figure><a href="#"><img class="imgOpcionesNav" src="../../public/img/cart-outline.svg" alt=""></a></figure>
      <figure><a href="#"><img class="imgOpcionesNav" src="../../public/img/person-outline.svg" alt=""></a></figure>
  </div>
</header> -->
    <header>
        <div class="logo">Logo</div>
        <div class="center">Nombre del Sitio</div>
        <div class="right">
          <figure>
            <img class="icon" viewbox="0 0 24 24" src="../../public/img/person-outline.svg" alt="">
          </figure>
          <figure>
            <img class="icon" viewbox="0 0 24 24" src="../../public/img/cart-outline.svg" alt="">
          </figure>
            </svg>
            <button class="btn-night-mode">Modo Nocturno</button>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <button class="search-btn">Buscar</button>
            </div>
        </div>
    </header>
  <nav id="barraNav">
    <div class="botonNav">INICIO</div>
    <div class="botonNav">DATOS CURIOSOS</div>
    <div class="botonNav">MENÚ</div>
    <div class="botonNav">PRODUCTOS</div>
    <div class="botonNav">NOSOTROS</div>
      <!-- <ul class="subMenuNav">
        <li><a href="#">Reposteria</a></li>
        <li><a href="#">Panaderia</a></li>
        <li><a href="#">Pasteleria</a></li>
        <li><a href="#">Bebidas Calientes</a></li>
        <li><a href="#">Bebidas Frias</a></li>
        <li><a href="#">Comidas</a></li>
      </ul> -->
  </nav>
